<div class="jumbotron mt-4">
  <h1 class="display-4">Bienvenido a esta app</h1>
  <p class="lead">Una app sencilla para crear notas ademas incluye : Mailer, Navegacion, registro, login, manejo de sesion.<br/><br/> 
    Tecnologias utilizadas Nodejs, Express, Mongodb y Javascript </p>
  <hr class="my-4">
  <p>Disfruta de esta app como tu quieras!!
  </p>
  <a class="btn btn-warning btn-lg" href="https://github.com/Flaresstorm" role="button">Github</a>
</div>
